/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#F7F2E8;
}

/* ==========================
   HERO
========================== */

.hero{

    width:100%;
    min-height:100vh;
    padding-top:70px;

    background:
    linear-gradient(
        rgba(14,77,58,.60),
        rgba(14,77,58,.60)
    ),
    url("team.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

.overlay{

    width:100%;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:flex-start;

    padding-top:140px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:40px;

}

.hero-content{

    max-width:900px;

    text-align:center;

}

.hero-content h1{

    font-size:64px;

    color:white;

    font-weight:800;

    margin-bottom:8px;
    line-height:1.1;

}

.hero-content h2{

    font-size:38px;
    color:#D4A34F;

    margin-top:0;
    margin-bottom:25px;
    line-height:1.2;
}

.hero-content p{

    color:white;

    font-size:21px;

    line-height:1.8;
    
    margin-top:85px;   
    margin-bottom:45px;

    text-shadow:0 2px 8px rgba(0,0,0,.4);

}

/* ==========================
   BUTTON
========================== */

.button-group{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.btn{

    background:#D4A34F;

    color:white;

    text-decoration:none;

    padding:18px 45px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

}

.btn:hover{

    background:#bf8f3c;

}

.btn-outline{

    color:white;

    border:3px solid white;

    text-decoration:none;

    padding:18px 45px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

}

.btn-outline:hover{

    background:white;

    color:#0E4D3A;

}

/* ==========================
   MOBILE
========================== */

@media(max-width:768px){

.hero-content h1{

font-size:50px;

}

.hero-content h2{

font-size:28px;

}

.hero-content p{

font-size:18px;

}

.btn,
.btn-outline{

width:100%;

text-align:center;

}

}
/*================ NAVBAR ================*/

header{

position:fixed;

top:0;
left:0;

width:100%;

z-index:999;

padding:20px 8%;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;
gap:40px;

background:rgba(14,77,58,.85);

backdrop-filter:blur(12px);

padding:18px 35px;

border-radius:50px;

}

.logo{

font-size:34px;

font-weight:800;

color:white;
white-space:nowrap;
}

.menu{

display:flex;
list-style:none;

margin-left:auto;

gap:45px;

align-items:center;

}

.menu a{

text-decoration:none;

color:white;

font-weight:500;

transition:.3s;

}

.menu a:hover{

color:#D4A34F;

}

.nav-btn{

background:#D4A34F;

padding:12px 30px;

border-radius:50px;

text-decoration:none;

color:white;

font-weight:600;

transition:.3s;

}

.nav-btn:hover{

background:#b98633;

}
/* ======================================
   ABOUT SECTION
====================================== */

.about{

    padding:100px 8%;
    background:#F7F2E8;

}

.about-container{

    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:2fr 1fr;
    gap:70px;
    align-items:center;

}

.section-title{

    color:#D4A34F;

    font-weight:700;
    letter-spacing:2px;

    display:inline-block;

    margin-bottom:20px;

}

.about-left h2{

    font-size:48px;

    color:#0E4D3A;

    margin-bottom:30px;

    line-height:1.3;

}

.about-left p{

    font-size:18px;

    line-height:1.9;

    color:#555;

    margin-bottom:22px;

}

.about-left strong{

    color:#0E4D3A;

}

  .about-right{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

}

.about-card{

    background:white;

    padding:35px 20px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.about-card:hover{

    transform:translateY(-8px);

}

.about-card h3{

    font-size:38px;

    color:#D4A34F;

    margin-bottom:10px;

}

.about-card span{

    color:#666;

    font-size:16px;

}


/* ==========================
   MOBILE ABOUT
========================== */

@media(max-width:900px){

.about-container{

    grid-template-columns:1fr;

}

.about-left{

    text-align:center;

}

.about-left h2{

    font-size:36px;

}

.about-right{

    margin-top:30px;

    grid-template-columns:repeat (3,1fr);

}
}
/*==================================
        PRODUK
==================================*/

.produk{

    padding:100px 8%;
    background:#F7F2E8;

}

.produk-header{

    text-align:center;
    max-width:850px;
    margin:auto;

}

.produk-header span{

    color:#D4A34F;
    font-weight:700;
    letter-spacing:3px;

}

.produk-header h2{

    font-size:58px;
    color:#0E4D3A;
    margin:20px 0;

}

.produk-header p{

    color:#555;
    font-size:22px;
    line-height:1.8;

}

.produk-banner{

    margin:70px auto;
    border-radius:30px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.15);

}

.produk-banner img{

    width:100%;
    display:block;

}

.produk-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:35px;

}

.card{

    background:white;

    border-radius:25px;

    overflow:hidden;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

    transition:.35s;

}

.card:hover{

    transform:translateY(-10px);

}

.card img{

    width:100%;
    height:260px;

    object-fit:cover;

}

.card h3{

    font-size:30px;

    color:#0E4D3A;

    margin:25px 25px 10px;

}

.card p{

    margin:0 25px 25px;

    color:#666;

    line-height:1.7;

}

.card a{

    display:block;

    margin:0 25px 30px;

    text-align:center;

    background:#D4A34F;

    color:white;

    text-decoration:none;

    padding:15px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

}

.card a:hover{

    background:#b88731;

}
/* ======================================
        KEUNGGULAN MAMORA
====================================== */

.keunggulan{

    padding:100px 8%;
    background:#ffffff;

}

.keunggulan-header{

    max-width:800px;
    margin:auto;
    text-align:center;
    margin-bottom:70px;

}

.keunggulan-header span{

    color:#D4A34F;
    font-weight:700;
    letter-spacing:3px;

}

.keunggulan-header h2{

    font-size:48px;
    color:#0E4D3A;
    margin:20px 0;

}

.keunggulan-header p{

    font-size:20px;
    color:#666;
    line-height:1.8;

}

.keunggulan-grid{

    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}

.unggul-card{

    background:#F7F2E8;

    border-radius:25px;

    padding:45px 30px;

    text-align:center;

    transition:.35s;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.unggul-card:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 40px rgba(0,0,0,.12);

}

.icon{

    font-size:55px;

    margin-bottom:20px;

}

.unggul-card h3{

    color:#0E4D3A;

    font-size:26px;

    line-height:1.5;

}

/* ==========================
   MOBILE KEUNGGULAN
========================== */

@media(max-width:900px){

.keunggulan-grid{

    grid-template-columns:1fr 1fr;

}

}

@media(max-width:600px){

.keunggulan-header h2{

    font-size:34px;

}

.keunggulan-header p{

    font-size:17px;

}

.keunggulan-grid{

    grid-template-columns:1fr;

}

}

/* ==========================
   LOGO HALAL
========================== */

.icon-halal{

    width:70px;
    height:70px;

    object-fit:contain;

    display:block;

    margin:0 auto 20px;

}
/*==================================
        GALERI PRODUKSI
==================================*/

.galeri{

    padding:100px 8%;
    background:#ffffff;

}

.galeri-header{

    text-align:center;
    max-width:850px;
    margin:auto  auto 60px;

}

.galeri-header span{

    color:#D4A34F;
    font-weight:700;
    letter-spacing:3px;

}

.galeri-header h2{

    font-size:50px;
    color:#0E4D3A;
    margin:20px 0;

}

.galeri-header p{

    color:#666;
    font-size:20px;
    line-height:1.8;

}

.galeri-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:25px;

}

.galeri-grid img{

    width:100%;
    height:500px;

    object-fit:contain;

    background:white;

    border-radius:25px;

    box-shadow:0 12px 30px rgba(0,0,0,.12);

    transition:.35s;

}

.galeri-grid img:hover{

    transform:scale(1.05);

}

/*==================================
        PRODUK DIKEMAS
==================================*/

.kemasan{

    padding:100px 8%;
    background:#F7F2E8;

}

.kemasan-header{

    text-align:center;
    max-width:850px;
    margin:auto auto 60px;

}

.kemasan-header span{

    color:#D4A34F;
    font-weight:700;
    letter-spacing:3px;

}

.kemasan-header h2{

    font-size:48px;
    color:#0E4D3A;
    margin:20px 0;

}

.kemasan-header p{

    color:#666;
    font-size:20px;
    line-height:1.8;

}

.kemasan-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

}

.kemasan-grid img{

    width:100%;
    height:150px;

    object-fit:cover;

    border-radius:20px;

    box-shadow:0 12px 30px rgba(0,0,0,.12);

    transition:.3s;

}

.kemasan-grid img:hover{

    transform:scale(1.04);

}
/*==================================
        TESTIMONI
==================================*/

.testimoni{

    padding:100px 8%;
    background:white;

}

.testimoni-header{

    text-align:center;
    margin-bottom:60px;

}

.testimoni-header span{

    color:#D4A34F;
    font-weight:700;
    letter-spacing:3px;

}

.testimoni-header h2{

    color:#0E4D3A;
    font-size:48px;
    margin-top:20px;

}
/*==================================
      TESTIMONI PELANGGAN
==================================*/

.testimoni-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

    margin-top:60px;

}

.testimoni-grid img{

    width:100%;

    height:220px;

    object-fit:cover;

    object-position:center;

    border-radius:25px;

    box-shadow:0 15px 35px rgba(0,0,0,.12);

    transition:.3s;

}

.testimoni-grid img:hover{

    transform:scale(1.03);

}

/* ===== MOBILE ===== */

@media(max-width:900px){

    .testimoni-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:600px){

    .testimoni-grid{

        grid-template-columns:1fr;

    }

    .testimoni-grid img{

        height:230px;

    }

}

/*==================================
        TIM MAMORA
==================================*/

.tim{

    padding:100px 8%;
    background:#F7F2E8;

}

.tim-container{

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;

}

/* ===== FOTO TIM ===== */

.tim-foto{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

}

.tim-foto img{

    width:100%;

    height:260px;

    object-fit:cover;

    object-position:center;

    border-radius:25px;

    box-shadow:0 15px 35px rgba(0,0,0,.15);

    transition:.3s;

}

.tim-foto img:hover{

    transform:scale(1.03);

}

/* ===== TEKS ===== */

.tim-text span{

    color:#D4A34F;

    font-weight:700;

    letter-spacing:3px;

}

.tim-text h2{

    color:#0E4D3A;

    font-size:52px;

    line-height:1.2;

    margin:20px 0;

}

.tim-text p{

    color:#666;

    font-size:19px;

    line-height:1.9;

    margin-bottom:20px;

}

/* ===== MOBILE ===== */

@media(max-width:900px){

    .tim-container{

        grid-template-columns:1fr;

    }

    .tim-foto{

        grid-template-columns:1fr 1fr;

    }

    .tim-text{

        text-align:center;

    }

    .tim-text h2{

        font-size:38px;

    }

}

@media(max-width:600px){

    .tim-foto{

        grid-template-columns:1fr;

    }

    .tim-foto img{

        height:230px;

    }

}

/*==================================
            FOOTER
==================================*/

.footer{

    background:#0E4D3A;

    color:white;

    padding:80px 8% 30px;

}

.footer-container{

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:60px;

}

.footer-box h2{

    font-size:36px;

    margin-bottom:20px;

}

.footer-box h3{

    color:#D4A34F;

    margin-bottom:20px;

    font-size:24px;

}

.footer-box p{

    color:#e7e7e7;

    line-height:1.9;

    margin-bottom:12px;

}

.footer-box a{

    display:block;

    color:white;

    text-decoration:none;

    margin-bottom:12px;

    transition:.3s;

}

.footer-box a:hover{

    color:#D4A34F;

    padding-left:8px;

}

.footer-bottom{

    text-align:center;

    margin-top:60px;

    padding-top:30px;

    border-top:1px solid rgba(255,255,255,.15);

    color:#d9d9d9;

    font-size:15px;

}

/* ===== MOBILE ===== */

@media(max-width:900px){

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

.footer-box a:hover{

padding-left:0;

}

}

/*==================================
      FLOATING WHATSAPP
==================================*/

/*==================================
      FLOATING WHATSAPP
==================================*/

.whatsapp-float{

    position:fixed;

    right:25px;

    bottom:25px;

    width:65px;

    height:65px;

    background:#25D366;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    z-index:9999;

    transition:.3s;

}

.whatsapp-float i{

    font-size:36px;

    color:white;

}

.whatsapp-float:hover{

    transform:scale(1.1);

    background:#1EBE5D;

}